@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --ff: "Bricolage Grotesque", sans-serif;
    --backgroundcolor: #100c31;
    --textcolor: #fff4d6;
}

body {
    background-color: var(--backgroundcolor);
    display: flex;
}

.container {
    border: solid 2px;
    color: var(--textcolor);
}

h1 {
    font-family: var(--ff);
    color: var(--textcolor);
    font-weight: bold;
    font-size: 64px;
    width: fit-content;
    margin-top: 250px;
    margin-left: 50px;
    border: solid 2px;
    margin-bottom: 0px;
}

.menu {
    width: fit-content;
    
    
}
.menu, li {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    line-height: 2;
    border: solid 2px;
    
    
}

.menu li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: var(--textcolor);
}
.menu li a:hover {
    color: black;
}

ul {
    list-style: none;
}

.hero {
    display: flex;
    border: solid 2px;
    color: var(--textcolor);
    width: 100%;
    justify-content: center;  
    align-items: center;
}

h2 {
    color: var(--textcolor);
    font-weight: bold;
    border: solid 2px;
    width: fit-content;
    
}